@model Videos.Models.ViewModel.VideoDataView
@for (int i = 0; i < Model.Artistas.Count; i++) {
    <div>
        @Html.HiddenFor(model => Model.Artistas[i].id, new { @Value = Model.Artistas[i].id })
        <label>@Model.Artistas[i].nome</label>
    </div>
}