@model Videos.Models.ViewModel.ArtistasView
@foreach (var artista in Model.listaArtistas) {
    <h3><a href="Home/Videos/@artista.id">@artista.nome</a></h3>
}
<button class="btn btn-default" onclick="window.location='Artistas/Atualizar'">Atualizar</button>