<table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>Artista</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VideoEntity video in ViewBag.videos) {
            <tr>
                <td>@video.Artista1.artista</td>
                <td>@video.titulo</td>
                <td>@video.Tipo1.tipo</td>
                <td>@video.data</td>
            </tr>
        }
    </tbody>
</table>