body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#modal_form_video .modal-dialog {
    width: 80%;
}

#modal_form_video .modal-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.input_titulo {
    max-width: 100%;
}

.datalist {
    max-width: 80%;
    float:left;
    margin-right:2px;
}

.form_thumb {
    max-width: 235px;
    float: left;
    margin-right: 5px;
}

.list_thumb {
    max-width: 45px;
}

.campo_filtro {
    max-width: 70%;
    float: left;
    margin-right: 2px;
    display: none;
}

#div_filtros {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}

.topo {
    padding-bottom: 40px;
}

.botao_playlist {
    float: left;
}

.total_videos {
    float: right;
}

.panel {
    margin-bottom: 10px;
}

#div_filtros .panel-body {
    padding: 5px;
}

.modal-footer {
    margin-top: 0;
}

.panel_tabela {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 1);
}

.table td:first-child, .table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4) {
   cursor: pointer;
}

.table tbody > tr > td {
    vertical-align: middle;
    height: 65px;
}

.table > thead > tr > th {
    font-size: 1.2em;
    font-weight: bold;
}

.table > tbody > tr > td {
    font-size: 1.0em;
    font-weight: bold;
}

.table thead th {
    background-color: #DFDFE3;
    color: #000;
}

.table > tbody {
    color: #fff;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgb(19, 90, 167);
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: rgb(0, 4, 0)
}

.div_thumb {
    background-color: #fff;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 3px 3px 10px rgba(255, 0, 100, 1);
}

body {
    background-color: rgb(58, 52, 53);
}

.td_checked {
    background-color: rgb(164, 9, 157) !important;
}